@charset "UTF-8";

/* Importação do Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* FONTES */
:root{
    --navBotao: "Inter Tight", sans-serif;
    --titulo-header: "Montserrat Alternates", sans-serif;
    --titulo-seção: "Inter Tight", sans-serif;
    --paragrafos: "Open Sans", sans-serif;
    --versiculo: "Playfair Display", serif;
    --footer: "Inter Tight", sans-serif;
}

/* CORES */
:root{
    --corLogo: #7363EA;
    --header: #2F2965;
    --hover: #1f1a4f;
    --intercalado: #ECECEC;
    --footer: #2F2965;
    --linkfooter: #A9B0B3;
    --branco: #fff;
    --preto: #1C1C1C;
}


.titulo{
    font-family: var(--titulo-seção);
    color: var(--preto);
}




/* HEADER */

.header{
    font-family: var(--navBotao);
    background-color: var(--header);
    border-bottom: 2px solid var(--branco);
}

.logo-header{
    font-family: var(--titulo-header);
}

.img-header{
    width: 70px;
    height: 70px;
}

/* menu */
.navbar-nav{
    display: flex;
    gap: 8px;
}

.navbar .navbar-nav .nav-link {
    color: var(--branco);
}



/* FIM HEADER */



/* MAIN */

 .main{
    background-image: url(../img/poster-main/poster-main.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--branco);
} 

.versiculo{
    font-family: var(--versiculo);
}

/* FIM MAIN */


/* ABOUT */

.img-about{
    width: 500px;
    height: 500px;
}

.paragrafo-about{
    font-family: var(--paragrafos);
    text-align: justify;
    line-height: 1.8rem;
}

.btn-about{
    background: var(--corLogo);
    color: var(--branco);
}

/* FIM ABOUT */


/* LOJA */

.loja{
    background-image: url(../img/bg-loja.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--branco);
    border-top: 4px solid var(--preto);
    border-bottom: 4px solid var(--preto);
    height: 300px;
}

.titulo-loja{
    font-family: var(--titulo-seção);
}

/* FIM LOJA */


/* EVENTOS */
.section-agenda{
    background: var(--intercalado);
}

.card-agenda{
    font-family: var(--paragrafos);
    background: var(--branco);
    border-radius: 10px;
    padding: 12px;
    
}

.card-agenda:hover{
    transform: scale(1.02);
    transition: .2s;
}

.nome-evento:hover{
    cursor: pointer;
    text-decoration: underline;
}

.icone-evento{
    color: var(--header);
}

.btn-geral{
    background: var(--header);
    color: var(--branco);
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 100px;
    outline: none;
    border: none;
}

.btn-geral:hover {
  background-color: var(--hover);
  transition: .3s;
}

/* FIM EVENTOS */


/* FOOTER */

.footer{
    background: var(--preto);
    color: var(--branco);
    font-family: var(--navBotao);
}

footer a{
    color: var(--linkfooter);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--branco);
    transition: .3s;
}

.contato p{
    margin-top: 20px;
}

/* FIM FOOTER */