@charset "UTF-8";

/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Cinzel+Decorative:wght@400;700;900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --title-h1: "Audiowide", sans-serif;
    --sub-title: "Archivo Black", sans-serif;
    --font-p: "Open Sans", sans-serif;
    --font-menu: "Raleway", sans-serif;
    --font-button: "Fira Sans Condensed", sans-serif;
    --font-footer: "Work Sans", sans-serif;
}

/* Cores */
:root{
    --bg-body: #1C1C1C;
    --main-color: #F8F8F8;
    --color-subtitle: #B0B0B0;
    --bg-button: #A52A2A; 
    --hover-plan-btn: #8B0000;
    --color-scroll: #070707;
    --bg-card-movie: #686868;
    --hover-card: #5A1919;
    --bg-contain-home: rgba(0, 0, 0, 0.7);
    --shadow-card-movie: 6px 6px 12px rgba(0, 0, 0, 0.6); 
    --bg-container-all: #101010;
    --hover-plan: #ffffff33;
    --bg-light: #555555;
    --bg-plus: #444444;
    --bg-fanatic: #333333;
    --bg-ilimited: #2a2a2a;

    --link-create: #2acce9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--color-subtitle) transparent;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* faz com que o main ocupe o espaço restante entre header e footer */
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-body);
}

/* HEADER */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 30px;
    border-bottom: 1px solid var(--main-color);
    position: relative;
}

.back-header {
    color: var(--main-color);
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: auto; 
    z-index: 2;
    align-items: center;
}

.title-header {
    font-family: var(--title-h1);
    color: var(--bg-button);
    font-size: 2.5rem;
    text-align: center;
    flex: 1;
}

/* END HEADER */

/* TRANSITION */

#transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; 
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#transition-screen.active {
    opacity: 1;
    pointer-events: all;
}

/* END TRANSITION */

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.container-main {
    display: flex;
    align-items: center;     
    justify-content: center;
    gap: 2rem;               
}

.container-left, .container-right {
    margin-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


.container-left p{
    color: var(--main-color);
    font-family: var(--font-p);
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
}

.img-left {
    /* width: 100%; */
    width: 83%;
    height: auto;
    max-height: 680px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}


.card-create{
    display: flex;
    flex-direction: column;
    background: var(--bg-container-all);
    box-shadow: 0px 0px 8px var(--bg-light);
    padding: 20px;
    color: var(--main-color);
    gap: 5px;
    border-radius: 10px;
}

.card-create h2{
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 20px;
    font-family: var(--sub-title);
    text-transform: uppercase;
}

.card-create label{
    font-size: 1.2rem;
    font-family: var(--font-footer);
    color: var(--main-color);
    display: block;
}

.card-create input{
    padding: 8px 12px;
    font-size: 1rem;
    outline: none;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-scroll);
}

.card-create input::placeholder {
    font-style: italic;
}

.card-create input:focus {
    border: 1px solid var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}

.button-create{
    margin: auto;
    background: var(--bg-button);
    color: var(--main-color);
    outline: none;
    border: none;
    font-size: 1.6em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
    font-family: var(--font-button);
    padding: 16px 27px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}

.button-create:hover{
    background: var(--hover-plan-btn);
    transition: .3s;
}

/* END MAIN */

/* FOOTER */
.footer {
    background: var(--bg-light);
    color: var(--main-color);
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font-footer);
}

.title-footer {
    font-size: 1.6em;
    margin-bottom: 15px;
}

.container-footer p, .container-footer a {
    font-size: 1.1em;
    line-height: 1.8;
    
}

.container-footer a {
    color: var(--main-color);
    text-decoration: none;
}

.container-footer a:hover {
    text-decoration: underline;
}

.social {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.icon-social {
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

.icon-social:hover {
    color: var(--bg-fanatic);
}

.politicy a {
    display: block;
    margin-top: 10px;
}

/* LOGIN */

.forgot-password{
    padding-bottom: 20px;
    font-family: var(--font-p);
    color: var(--main-color);
}

.forgot-password:hover{
    color: var(--color-subtitle);
    transition: .3s;
}

.login-p-card{
    text-align: end;
    font-family: var(--font-p);
    padding-top: 20px;
    font-size: 0.9em;
}

.login-p-card a{
    color: var(--link-create);
}

/* END LOGIN */



/* RESPONSIVITY */

@media (max-width: 768px) {
    .container-main {
        flex-direction: column;
        padding: 20px;
    }

    .container-left, .container-right {
        width: 100%;
        margin-left: 0;
    }

    .title-header {
        font-size: 2.5em;
    }

    .img-left {
        max-height: 300px;
    }
}


@media (max-width: 1024px) {
    .title-header {
        font-size: 2.5em;
    }

    .card-create h2 {
        font-size: 1.8rem;
    }

    .card-create input {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }

    .title-header {
        margin: 0;
        font-size: 2.5em;
        text-align: center;
    }

    .container-main {
        flex-direction: column;
        padding: 20px;
        gap: 3rem;
    }

    .container-left,
    .container-right {
        width: 100%;
        margin-left: 0;
    }

    .img-left {
        max-height: 300px;
    }

    .card-create {
        width: 100%;
        padding: 20px 15px;
    }

    .button-create {
        width: 100%;
        padding: 14px 20px;
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .title-header {
        font-size: 2.5em;
    }

    .card-create h2 {
        font-size: 1.5rem;
    }

    .container-left p {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .card-create label {
        font-size: 1rem;
    }

    .card-create input {
        font-size: 0.9rem;
    }

    .button-create {
        font-size: 1.2em;
        letter-spacing: 1px;
    }
}



/* footer */
@media (max-width: 992px) {
    .container-footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 70px;
    }

    .social-icons {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container-footer p, .container-footer a {
        font-size: 1em;
    }
    
    .title-footer {
        font-size: 1.4em;
    }
}